numpy
Theano
matplotlib
scikit-learn
pytest
IPython
-e git+http://github.com/petered/plato@0.0.3#egg=plato
-e git+http://github.com/petered/deepspike@v0.0.1#egg=deepspike
git+http://github.com/originell/jpype@v0.6.1#egg=jpype
